<%- include ('partials/header.ejs') %> <%- include ('partials/main_nav.ejs') %>
<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>   
    </div>
  </main>

  <div class="box">
    
<hr style="border-style: ridge;border-color: rgb(95, 129, 160);border-width: 2px;">
<p><h1 id="sam" style="color: midnightblue; text-align: center;">About Me</h1></p>
<hr style="border-style: ridge;border-color: rgb(95, 129, 160);border-width: 2px;">
    
          
         
       
          
        <!--Who I am-->
       <div class="statement5">
       
        <h1>Name: Sharmaine Sanchez</h1><br>
        <div class="container1">
        <div class="image1">
          <div class="imgbox"> <img src="/Assets/images/photo.jpg" class="center-fit"  style="float:left" alt="myPhoto"></div>
        </div>
        <div class="text1">
          <h3>Who am I:</h3>
          <p>I am an enthusiast in learning new technology. I look forward in becoming a 
            software engineering technician and working in the field of software someday.
          </p>
        </div>
        </div>
        <br>
           <!--Link to my resume-->
           <div class="button">
            <a href="/Assets/files/resume.pdf" style="text-decoration: none; color: white; text-align: center;">&nbsp;&nbsp;Link to My Resume&nbsp;&nbsp;</ato
          </div>
          
        </div>

        
      
</div>

<%- include ('partials/bottom_nav.ejs') %> <%- include ('partials/footer.ejs') %>
