<%- include ('partials/header.ejs') %> <%- include ('partials/main_nav.ejs') %>
<main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>   
    </div>
  </main>

 

  <div class="box">
    <hr style="border-style: ridge;border-color: rgb(95, 129, 160);border-width: 2px;">
    <p><h1 id="sam" style="color: midnightblue; text-align: center;">Projects</h1></p>
   <hr style="border-style: ridge;border-color: rgb(95, 129, 160);border-width: 2px;">

    <div class="statement3">
      <h1 class="center">Home Listing Website</h1>
      <p class="center">Role: I was the designer of the website, I have learned to complement the details for each page.</p>
      <div class="imgbox">
      <img src="/Assets/images/project1.png" class="center-fit" alt="myPhoto">
      </div>
    </div>

  <br>

  <div class="statement3">
      <h1 class="center">Photo Website</h1>
      <p class="center">Role: I was the designer of the website. I have learned to create an interactive gallery that can 
          add photos to favourites and can zoom to the picture.</p>
          <div class="imgbox">
            <img src="/Assets/images/project2.png" class="center-fit" alt="myPhoto">
          </div>
      
  </div>

  <br>
  
  <div class="statement3">
      <h1 class="center">Online Shop Website</h1>
      <p class="center">Role: I was the designer of the website, I have learned to create a catalog of products using
          Microsoft Expression Web 4.</p>
          <div class="imgbox">
      <img src="/Assets/images/project3.png" class="center-fit"  alt="myPhoto">
    </div>
      </div>
 
        
      
</div>

<%- include ('partials/bottom_nav.ejs') %> <%- include ('partials/footer.ejs') %>
