<%- include ('../partials/header.ejs') %> <%- include ('../partials/main_nav.ejs') %>
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>   
  </div>
</main>

<div class = "box">
<hr style="border-style: ridge;border-color: rgb(95, 129, 160);border-width: 2px;">
<p><h1 id="sam" style="color: midnightblue; text-align: center;">Business Contact List</h1></p>
<hr style="border-style: ridge;border-color: rgb(95, 129, 160);border-width: 2px;">

<!-- Main Content -->
<main class="container">
   <!-- //add boostrap table code -->

  <div class="row">
    <div class="col-md-offset-3 col-md-8">
      <h1><%=title %></h1>

      <% if(typeof displayName == 'string' && displayName) { %>
          <a href="/contact-list/add" class="btn btn-primary" role="button">
          <i class ="fas fa-plus-circle"></i> Add a contact </a>
      <%}%>
    
      <br />
      <table class="table table-bordered table-striped table-hover">
        <!--Header row-->
        <tr>
          <th class="text-center">Contact Name</th>
          <th class="text-center">Contact Number</th>
          <th class="text-center">Email Address</th>
          
          <% if(typeof displayName == 'string' && displayName) { %>
              <th class="text-center"></th>
              <th class="text-center"></th>
          <%}%>
        </tr>

        <!--Repetable Templet row-->
        <% for (let count=0; count<ContactList.length; count++){%>
          <tr>
            <td class="text-centre "><%=ContactList[count].name %></td>
            <td class="text-centre "><%=ContactList[count].number %></td>
            <td class="text-centre "><%=ContactList[count].email %></td>
          
            
            <% if(typeof displayName == 'string' && displayName) { %>
                <td class="text-center col-1">
                  <a href="/contact-list/update/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
                  <i class="fas fa-pencil-alt"></i> Update</a>
              </td>
              <td class="text-center col-1">
                  <a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
                  <i class="fas fa-trash-alt"></i> Delete</a>
              </td>
            <%}%>
          </tr>
        <%}%>
      </table>
    </div>
  </div>
</div>
</main>

<%- include ('../partials/bottom_nav.ejs') %> <%- include ('../partials/footer.ejs') %>
